#banner
	.banner_content
		%h1 Gestor de Archivos
		%p El trabajo de tu vida, siempre organizado.
		%button= link_to "Registrarse", new_user_registration_path

#callouts
	.callouts_inner
		.wrapper
			.callout
				%h2 Organizar
				%p aslñdfkjasdlfsjdf
				%p asdlfkajsdflasdkfjasñldfkasjfalfaskjf
				

#bottom_cta
	.wrapper
	%h2 !Vamos¡
	%br
	%button=link_to "Unete ahora", new_user_registration_path 