%h3= link_to 'create new document', new_document_path
%h1 list of documents
-@documents.each do |document|
	%h3= link_to document.title, document
	%p= time_ago_in_words(document.created_at)
	%p= truncate(document.content, length:50)