.wrapper_with_padding
	#documents.clearfix
		-unless @documents.blank?
			-@documents.each do |document|
				%a{href: (url_for [document])}
					.document
						%p.title    document.title
						%p.date= time_ago_in_words(document.created_at)
						%p.content= truncate(document.content, length:50)
		-else
			%h2 !Crea un documento¡
			%p !Crea documentos y organiza tu vida¡
			%button= link_to "Crear documento nuevo", new_document_path
